.nav {
    background-color: rgb(19, 2, 248);
    border-bottom: 12px;
    border-bottom-color: brown;
    padding: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
