.appbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subappbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
