.appbar {
    height: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.subappbar {
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
