.nav {
    background-color: rgb(105, 1, 114);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subnav {
    background-color: rgb(91, 0, 99);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-family: Roboto;
}

.typo {
    display: flex;
    padding: 10px;
}

.typo :hover {
    background-color: rgb(75, 1, 82);
}

@media screen and (max-width: 500) {
    .nav {
        padding: 10px;
    }

    .subnav {
        padding: 2px;
    }
}
