.input {
    size: 100%;
}

.inputMoney {
    padding: 5px;
    border-radius: 4px;
    width: 100%;
    text-align: end;
}

.inputFile {
    display: none;
}


#span {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    cursor: pointer;
    color: blue;
}

#label {
    font-family: Roboto;
    color: #141414;
    font-weight: bold;
}