.td {
    justify-content: center;
    font-family: Roboto;
    text-align: end;
}

.actions {
    flex-direction: row;
    justify-content: flex-end;
    font-family: Roboto;
    text-align: end;
}

.icon {
    margin: 5px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
   
}