.pageSignup {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jumbcont {
    padding-left: 45px;
}

@media screen and (max-width: 500px) {


}